# General
asgiref
Django==4.2.3
sqlparse

# DRF
djangorestframework
djangorestframework-camel-case
djangorestframework-simplejwt

# Third Party
python-decouple
markdown
django-filter
drf-spectacular

# Logging
seqlog