# General
asgiref
Django==4.2.3
sqlparse

# DRF
djangorestframework
djangorestframework-camel-case
djangorestframework-simplejwt

# Third Party
python-decouple
markdown
django-filter
drf-spectacular
django-cors-headers

# Logging
seqlog

# Refactoring & Lint
black
flake8

# Background Process & Cache
django-redis
celery
django-celery-beat

# Test
pytest
pytest-django
pytest-cov
factory_boy